{% extends "profile_layout.html" %}

{% block content %}

<body>
    <div class="container">
        <div class="row" id="closet_div">
            <h1 class="h2 mb-3 font-weight-normal" id="titleheader">Welcome to Dress me! </h1>
            <div class="row" id="closet_title">
                <h3 class="h3 font-weight-normal">Your Closet</h3>
            </div>
            <div class="row">
                <div class="col-md-6" id="add_btn_div">
                    <button class="btn btn-outline-primary" id="add_btn" onclick="window.location.href='/upload'">Add Clothes</button>
                </div>
                <div class="col-md-6" id="reco_btn_div">
                    <button class="btn btn-outline-primary" id="reco_btn" onclick="window.location.href='/recommendations'">View Recommendations</button>
                </div>
            </div>
            <div class="spacer"></div>
            <button class="btn btn-outline-secondary" id="get_closet_btn" onclick="viewCloset()">View Closet</button>
            <div class="wardrobe"></div>
        </div>
    </div>
</body>

<script type="text/javascript">

    function viewCloset() {
        // axios.get("https://1y2qitfifd.execute-api.us-east-1.amazonaws.com/prod/closet?sub=" + localStorage.getItem("sub"), {
        //     headers: {
        //         // 'Access-Control-Allow-Origin': '*',
        //         // 'Content-Type': file.type,
        //         // 'Authorization': localStorage.getItem("id_token")
        //     }
        // }).then(function (response) {
        //     console.log("RESP")
        //     console.log(response)
        //     console.log("PIZZA")
        // })
        //     .catch(err => console.error(err));
        axios.get("https://1y2qitfifd.execute-api.us-east-1.amazonaws.com/prod/closet?sub=" + localStorage.getItem("sub"))
        .then(function (response) {
            console.log("STATUS", response.status)
            if (response.status == "200") {
                res_len = response.data.length
                res_data = response.data
                for (let i = 0; i < res_len; i++) {
                    console.log(res_data[i]);
                    var img = document.createElement("img");
                    img.src = res_data[i];
                    img.id = "reco_pic";
                    $(".wardrobe").append(img);
                }
            }
        })
        .catch(function(error) {
            console.log(error)
        })
    }
</script>

{% endblock %}