{% extends "profile_layout.html" %}

{% block content %}

<body>
    <div class="container">
        <div class="row" id="closet_div">
            <h1 class="h2 mb-3 font-weight-normal" id="titleheader">Upload clothing items to your wardrobe! </h1>
            <div class="row" id="upload_div">
                <h4 class="h4 mb-3 font-weight-normal">Upload an image from your device</h4>
                <i class="fa-solid fa-upload"></i>
                <h5 class="h5 mb-3 font-weight-normal">Max file size: 5mb, accepted: .jpg | .png | .jpeg</h5>
                <!-- <button class="btn btn-outline-primary">Choose Image</button> -->
                <form class="upload_form">
                    <div class="input-group">
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" accept="image/jpg" id="inputFile" onchange="image_preview()">
                            <label class="custom-file-label" for="inputFile">Select photo</label>
                        </div>
                        <!-- <input id='custom_labels' type="text" class="form-control" placeholder="Enter custom labels here"> -->
                        <input list="custom_label" id="custom_labels" name="mylabels" placeholder="Choose Label"/>
                        <datalist id="custom_label">
                            <option value="pants">
                            <option value="outerwear">
                            <option value="shoe">
                            <option value="shirt">
                            <option value="top">
                            <option value="jeans">
                            <option value="hat">
                        </datalist>
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="button" onclick="uploadPhoto()">Upload</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="spacer"></div>
            <div class="preview_div">
                <img id="preview_image">
            </div>
            <!-- <button class="btn btn-outline-secondary" id="upload_btn">Upload Image</button> -->
        </div>
    </div>
</body>

<script type="text/javascript">

    function image_preview() {
        inputFile = document.getElementById('inputFile');
        preview_image = document.getElementById("preview_image");
        const [file] = inputFile.files
        console.log(inputFile.files);
        if (file) {
            console.log(URL.createObjectURL(file));
            preview_image.src = URL.createObjectURL(file)
        }
    }

    function getBase64(file) {
        return new Promise((resolve, reject) => {
            const reader = new FileReader();
            reader.readAsDataURL(file);
            reader.onload = () => {
                let encoded = reader.result.toString().replace(/^data:(.*,)?/, '');
                if ((encoded.length % 4) > 0) {
                    encoded += '='.repeat(4 - (encoded.length % 4));
                }
                resolve(encoded);
            };
            reader.onerror = error => reject(error);
        });
    }

    function uploadPhoto() {
        // console.log(axios)
        var filePath = (document.getElementById('inputFile').value).split("\\");
        var fileName = filePath[filePath.length - 1];
        console.log(filePath);

        if (!document.getElementById('custom_labels').value == "") {
            var customLabels = document.getElementById('custom_labels');
        }
        console.log(fileName);
        console.log(custom_labels.value);

        var reader = new FileReader();
        var file = document.getElementById('inputFile').files[0];
        console.log(file.name)
        console.log(file.type)
        console.log(file)

        axios.put("https://1y2qitfifd.execute-api.us-east-1.amazonaws.com/prod/upload/" + localStorage.getItem("sub") + "/closet/1/" + file.name, file, {
            headers : {
                // 'Access-Control-Allow-Origin': '*',
                'Content-Type': file.type,
                'Authorization': localStorage.getItem("id_token"),
                'x-amz-meta-customLabels': custom_labels.value
            }
        })

        // console.log('File : ', file);
        // document.getElementById('inputFile').value = "";
        // var apigClient = apigClientFactory.newClient({
        //     apiKey: 'wxI1Wedpmq6GKPc8xefAa89mXbEdMIY7ajr0iiFk'
        // });

        // if ((filePath == "") || (!['png', 'jpg', 'jpeg'].includes(fileName.split(".")[1]))) {
        //     alert("Please upload a valid .png/.jpg/.jpeg file!");
        // } else {

        //     var params = {
        //         "filename": fileName,
        //         "bucket": "octavius-photos",
        //         "Content-Type": file.type,
        //         "customlabels": custom_labels.value,
        //         // "sub": localStorage.getItem("sub")
        //     };

        //     var additionalParams = {
        //         headers: {
        //             'Access-Control-Allow-Origin': '*',
        //             'Content-Type': file.type,
        //             'Authorization': localStorage.getItem("access_token")
        //         }
        //     };

        //     reader.onload = function (event) {
        //         body = btoa(event.target.result);
        //         console.log('Reader body : ', body);
        //         return apigClient.photosBucketFilenamePut(params, body, additionalParams)
        //             .then(function (result) {
        //                 console.log(result);
        //                 $("#upload_status").show();
        //             })
        //             .catch(function (error) {
        //                 console.log(error);
        //                 $("#upload_status").hide();
        //             })
        //     }
        //     reader.readAsBinaryString(file);
        // }
    }

</script>

{% endblock %}